@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #295025;
    --secondry-color: #0e5540;
    --third-color: #960047;
    --forth-color: #f4a620;
    --tarnsition: 500ms ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

#main-container {
    max-width: 1180px;
    margin: auto;
}

/* ############################ Navbar ######################## */

header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.hamburger {
    display: none;
    /* z-index: 1000; */
}

#close {
    visibility: hidden;
    z-index: 999;
}

#close a {
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    max-width: 1480px;
    margin: auto;
    gap: 10px;
    align-items: center;

}

#navbar> :nth-child(2) {
    display: flex;
}

#navbar img {
    width: 130px;
}

.nav-social {
    display: flex;
    background-color: var(--primary-color);
    padding: 5px 20px;
    justify-content: flex-end;
    gap: 15px;
}

.nav-social div {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.nav-social div:hover {
    background-color: black;
    transition: 0.1s ease-in;
}

.fa-brands {
    color: white;
    font-size: 12px;

}

.nav-items ul {
    display: flex;
    justify-content: flex-end;
}

.nav-items ul li {
    margin: 0px 20px;
    text-decoration: none;
    list-style: none;

}

.nav-menu {
    display: flex;
}

.nav-items ul li a {
    color: var(--secondry-color);
    font-size: 17px;
    font-weight: 500;
}

.nav-items ul li a:hover {
    color: var(--forth-color);
    cursor: pointer;
}

.nav-btn {
    text-align: right;

}

.nav-btn a:hover {
    background-color: var(--forth-color);
}

.nav-btn a {
    background-color: var(--secondry-color);
    text-decoration: none;
    padding: 7px 13px;
    font-size: 13px;
    color: white;
    border-radius: 20px;

}


/* Hero Section  */


#herosec {
    width: 100%;
    height: 90vh;
    background: url(../images/2.png);

    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    margin-top: 67px;
}

::placeholder,
select {
    color: white;

}

select {
    color: white;
}

option {
    background-color: var(--forth-color);
}


form {
    width: 50%;
    height: 90vh;
    display: grid;
    gap: 20px;
    text-align: center;
    padding: 20px 5%;
    color: white;
    background: linear-gradient(rgba(34,
                33,
                34,
                0.6), rgba(34, 33, 34, 0.6));
}

form input,
form select,
form textarea {
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

form h1 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Bitter', serif;
}

#submit {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: 500;
    letter-spacing: 2px;

}

#submit:hover {
    background-color: var(--forth-color);
    transition: var(--tarnsition);
}



/* company information */


#comp-info {
    text-align: center;
    max-width: 750px;
    margin: auto;
    padding: 50px 0px;
}

#comp-info h1 {
    margin: 30px;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 700;
    padding: 0px 20px;
}

#comp-info p {
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding: 0px 20px;
}


/* ribben section  */


#ribben {
    background-color: var(--secondry-color);
    color: white;
    display: flex;
    justify-content: center;
}

#ribben>div {
    display: flex;
    padding: 50px;
}

#ribben>div>:last-child {
    border: none;
}

#ribben>div>div {
    padding: 20px;
    text-align: center;
    border-right: 1px solid white;
}

#ribben>div>div>p {
    margin: 5px;
    font-size: 25px;
    font-weight: 700;

}




/* services section  */

#services {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 50px 0px;
    margin: auto;
}

#services>p {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#services>h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--secondry-color);
    padding: 0px 10px;
}

.service-cards {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 20px;
    justify-content: center;
    gap: 30px;
    


}

.service-cards .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 20px;
    max-width: 320px;
    display: grid;
    align-items: center;
}

.card img {
    width: 70%;
    margin: 10px auto;

}

.card h1 {
    font-weight: 100px;
    color: var(--secondry-color);
    margin: 10px 0px;

}

.card p {
    color: var(--primary-color);
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 250px;
    margin: auto;
}

.card button {
    background-color: var(--secondry-color);
    color: white;
    padding: 7px 25px;
    border: none;
    border-radius: 10px;
    margin: 20px 0px;
    font-size: 17px;
}


/* testimonials section  */

#testimonial{
    background-color: var(--secondry-color);
    padding: 50px 20px;
    text-align: center;
    color: white;
}

#testimonial>div{
    max-width: 700px;
    margin: auto;
}

#testimonial h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

#testimonial>div  div{
    font-size: 40px;
    margin-bottom: 20px;
}

#testimonial >div>:nth-child(3){
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#testimonial >div>:nth-child(4){
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

#testimonial >div>:nth-child(5){
    font-size: 20px;
}


/* clients section  */
#clients{
    padding: 40px 0px;
}

#clients > h1{
    text-align: center;
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

#clients img{
    width: 100px;
}


#clients > div{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  




/* footer section  */


footer{
    background-color: var(--secondry-color);
    color: white;
    
}

footer a{
    color: white;
}

footer img{
    width: 150px;
}
footer>div{
    display: flex;
    gap: 30px;
    padding: 40px 20px;
}

footer > div >div{
    display: grid;
    row-gap: 10px;
    max-width: 300px;
}

footer iframe{
    filter: invert();
}

.addres>:nth-child(2){
    font-size: 30px;
    font-weight: 700;
}

.copyright{
    padding: 20px;
    border-top: 1px solid white;
}