@media screen and (max-width: 1050px) {
    form {
        width: 80%;
    }
}


@media screen and (max-width: 800px) {
    .service-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    #services>h1 {
        font-size: 40px;

    }

    #herosec{
        background-position: right;
    }
}





@media screen and (max-width: 700px) {
    form {
        width: 100%;
    }

    #ribben>div {
        flex-direction: column;
    }

    #ribben>div>div {
        border: none;
    }

    footer>div {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .service-cards {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 800px) {
    .hamburger {
        display: block;
        position: absolute;

        right: 10px;
        top: 25px;

    }

    .hamburger a {
        text-decoration: none;
        color: black;
    }

    .nav-menu {
        position: absolute;
        visibility: hidden;
        background-color: var(--secondry-color);
        top: 0px;
        right: 0;
        height: 100vh;
        width: 200px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
        padding: 40px 0px 0px 20px;
    }



    .nav-items>ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .nav-items ul li a {
        text-decoration: none;
        color: white;
    }

    .nav-items ul li a:hover {
        color: var(--forth-color);
    }

    .nav-btn a {

        background-color: var(--forth-color);
    }

    .nav-btn a :hover {
        background-color: var(--third-color);
    }



}