@media screen and (max-width: 950px) {
    #best-service {
        display: flex;
        flex-direction: column-reverse;
    }

    #our-service>div{
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonials>p {
        font-size: 16px;
    }
}


@media screen and (max-width: 700px) {
#hero-section{
    align-items: stretch;
}

}


@media screen and (max-width: 700px) {
    #hero-section {
        display: flex;
        flex-direction: column;
    }

    #our-service>div {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonials>p {
        font-size: 14px;
    }

        footer>div{
            flex-direction: column;
            gap: 10px;
        }

}

@media screen and (max-width: 500px) {

    .form-cont input,
    .form-cont select {
        width: 99%;
    }

    .form-cont div {
        flex-direction: column;
        row-gap: 20px;
    }

    #our-service>div {
        grid-template-columns: repeat(1, 1fr);
    }

    .ribben-tags {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .testimonials>p {
        font-size: 12px;
    }

    .testimonials {
        row-gap: 0px;
    }

    .bestservice-text p {
        font-size: 12px;
    }

    .client img {
        width: 70px;
    }

    .otp-popup {
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {
    .hamburger {
        display: block;
        position: absolute;

        right: 10px;
        top: 25px;

    }

    .hamburger a {
        text-decoration: none;
        color: black;
    }

    .nav-menu {
        position: absolute;
        visibility: hidden;
        background-color: blue;
        top: 0px;
        right: 0;
        height: 100vh;
        width: 200px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
        padding: 40px 0px 0px 20px;
    }



    .nav-items>ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .nav-items ul li a {
        text-decoration: none;
        color: white;
    }

    .nav-items ul li a:hover {
        color: black;
    }



}
